/* about css start */
.inner-nav .nav-link {
  color: #000 !important;
}

.inner-nav .navbar-brand img {
  filter: unset;
}
.about-inner {
  position: relative;
  z-index: 0;
  padding-top: 200px;
}

.buld-img h2 {
  color: #404043;
  margin: auto;
  width: 72%;
  font-size: 22px;
  font-weight: 600;
  line-height: 42px;
}

.book-text p {
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  padding-bottom: 5px;
  width: 100%;
  text-align: justify;
}

.three-img {
  text-align: center;
  padding: 50px 0px;
}

.btn-custom.about {
  color: white !important;
  font-size: 25px;
  padding: 8px 35px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.btn-custom.about:before {
  border-radius: 10px !important;
  position: absolute;
  z-index: -1;
  content: "";
  background-color: white;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden !important;
  transition: all ease 0.5s;
}
.btn-custom.about:hover {
  color: #f89100 !important;
  overflow: hidden;
}
/* about css end */

contact page css start */ .contact-sec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.number h4 {
  font-family: "Manrope";
  font-weight: 700;
  color: var(--black-color);
}
.contact-sec .main-banner .content.text-center h2 {
  text-align: start;
  line-height: 40px;
  margin-top: 20px;
}

.contact-sec .main-banner .btn-div {
  text-align: start;
}
.phone-main {
  background: var(--blue-color);
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
}

.contact-sec .phone-img figure img {
  box-shadow: 0px 0px 11px 3px #00000045;
  animation: none;
  margin: 0;
  border-radius: 60%;
}

.number-one a {
  color: var(--white-color);
}

.number-one span {
  color: var(--white-color);
}
/* 
  contact page css end */

/* contact.page css start */

.innerForm .form-control {
  margin-bottom: 1.5rem;
  height: 60px;
  width: 98%;
  border: 2px solid #06060626;
  padding: 0px 10px;
  background: transparent;
}

.innerForm select {
  margin-bottom: 2rem;
  border: 2px solid #eaeaea;
  border-radius: 2px;
}

.innerForm textarea {
  margin-bottom: 1rem;
  border: 2px solid #eaeaea;
  padding: 8px 11px;
  border-radius: 2px;
  height: unset !important;
}

.contact-info a:hover {
  color: black;
}

.contact-info ul li {
  display: FLEX;
  margin-bottom: 34px;
}
.btn-custom.contact {
  padding: 12px 40px;
  font-weight: 400;
  border-radius: 22px;
}
ul.contact-socails-address li i:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--red-color);
}

ul.contact-socails-address li i {
  width: 50px;
  height: 50px;
  background: #ffac55;
  border-radius: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.7s;
  color: white;
}

.contact-socails ul li a:hover {
  transform: scale(1.3);
  background-color: black;
}

.contact-info h6 {
  font-size: 18px;
  color: #000000;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.contact-info p {
  font-weight: 400;
  color: #87898c;
  line-height: 23px;
  margin-bottom: 2rem;
  font-size: 12px;
  text-align: start;
}

.contact-info {
  background-color: transparent;
  padding: 0px 23px;
  padding-top: 60px;
  border-radius: 12px;
}

.contact-info h2 {
  font-size: 31px;
  margin-bottom: 31px;
  color: white;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.contact-info a {
  color: #696f6b;
  font-size: 16px;
  font-weight: 400;
}

.contat-wrap p {
  margin-bottom: 0px;
  color: #fff;
}

.contact-socails ul {
  display: flex;
}

.contact-socails ul li a {
  transition: 0.5s ease;
  color: #fff !important;
  font-size: 20px !important;
  border: 2px solid #fff;
  border-radius: 40px;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin-right: 15px;
  text-align: center;
  line-height: 48px;
}

.contact-socails ul {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
}

.contact input {
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding-left: 20px;
}

.contact textarea {
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

ul.contact-socails-address li svg {
  width: 42px;
  padding: 14px 4px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 10px;
  display: flex;
  font-size: 24px;
  align-items: center;
  position: relative;
  justify-content: center;
}

ul.contact-socails-address {
  padding: 0;
}

.innerForm label {
  color: var(--black-color);
  font-size: 1rem;
  font-weight: bold;
}

section.bginner.ContactPage {
  padding-top: 60px;
  padding-bottom: 50px;
  background: var(--dark-yellow-color);
}

button.btn.btnCustom {
  background-color: darkred;
  color: white;
}

.COntactinfo {
  margin: 2rem 0rem;
}

.conta-head {
  text-align: center;
  margin-bottom: 3rem;
}

.conta-head h1 {
  font-size: 74px;
  color: #8b0000;
  text-transform: uppercase;
}

.conta-head p {
  color: white;
  width: 67%;
  margin: auto;
}

.FeatureContent.Feature-cont p {
  display: block;
  font-size: 13px;
  margin-bottom: 17px;
}

.FeatureContent.Feature-cont a {
  display: inline-block;
  transition: all 0.7s ease;
}

.FeatureContent.Feature-cont .btnShopNow {
  padding: 10px 26px 10px 26px;
  font-size: 9px;
}

.ButcherSliderContent {
  margin-bottom: 2rem;
}

.bi {
  margin-bottom: 3rem;
}

.COntactinfo .btn.CustomBtn {
  border-radius: 12px;
  color: white;
  background-color: #5f9261;
  padding: 11px 48px;
  font-size: 17px;
}

.tabPanelImg img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.conatct-heading h1 {
  color: white;
  font-weight: 600;
  font-size: 43px;
}

.conatct-heading {
  text-align: center;
  margin-bottom: 41px;
}

.contact-info .conatct-heading h1 {
  color: var(--black-color);
  text-align: start;
  font-size: 32px !important;
  line-height: 50px;
  margin: 0;
}

/* contact.page css end */

/* bio css start */
.section1-bio {
  padding: 50px;
  /* background: linear-gradient(10deg, #00e1fe, #00e1fe0f); */
  /* box-shadow: 0 100px 200px 5px #00e1fef5; */
}
.bio-text {
  text-align: center;
}
.bio-img figure {
  text-align: center;
  margin-bottom: 35px;
}
.bio-img figure img {
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  /* border: 15px solid black; */
}
.bio-img figure .h-w {
  height: auto;
}
.bio-text p {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 40px; */
  text-align: justify;
}
.bio-text p b span {
  font-weight: 500;
}
.bio-img figure h4 {
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
}
.section1-bio .h_p h2 {
  font-size: 52px;
}
.scratch_img .bio-img figure img {
  height: 300px;
  width: 65%;
}
.bio-img .first-book-noval {
  text-align: center;
}
span.italic {
  font-style: italic;
}
/* bio css end */

/* featured inner css start */

.inner-featured {
  padding: 50px 100px;
}

.inner-featured .sec5-img-book img {
  height: auto;
}
/* featured inner css end */

/* book inner css end */
.back-books .now-noval h2 {
  color: white;
}

.italic-font {
  font-family: "Linux Libertine", "Georgia", "Times", "Source Serif Pro", serif;
  font-style: italic;
}

.back-books .now-noval p {
  color: white;
  font-size: 15px;
}
.first-book-noval figure img {
  height: 500px;
  width: 55%;
  margin: auto;
}

.first-book-noval {
  text-align: start;
  margin-top: 50px;
}
.back-books {
  background: #4d0000;
  padding: 100px 100px;
}
.first-book-noval figure {
  margin: 0;
  text-align: center;
}

a.btn.btn-custom.black {
  background-color: black;
  padding: 15px 0;
  width: 90%;
  font-size: 15px;
  margin: 15px 2px;
}

.sec5-img-book.book-1 img {
  /* height: 500px; */
  width: 35%;
  height: 550px;
}

.sec5-img-book.book-1 {
  text-align: center;
  padding-bottom: 40px;
}

.text-inner-book p {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin: 0;
  padding-bottom: 20px;
}

.text-inner-book {
  text-align: center;
}

a.btn.btn-custom.black-inner {
  margin-top: 25px;
}

.now-noval {
  margin-top: 60px;
}

/* book inner css end */

/* articles css start */

.sec-articles-text p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: start;
}

span.article-colored {
  font-weight: 800;
  color: black;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

p.following {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 25px;
}

.section-articles {
  padding-bottom: 100px;
}

.thumbnail {
  text-align: center;
  padding: 30px 20px;
  border: 1px solid;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}
.thumbnail a {
  text-decoration: none;
}

.thumbnail p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: black;
  margin: 0;
  filter: blur(2px);
  user-select: none;
}

.main-thumbnail-1 {
    display: none;
}

.thumbnail-bottom-text {
    text-align: center;
}

.thumbnail-bottom-text p {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}
/* articles css end */


/* articles-1 css start */
.article-content-main {
  margin-top: -50px;
  padding-bottom: 60px;
}
.article-content h2 {
  font-weight: 600;
  color: black;
  text-align: start;
  font-size: 40px;
  margin-top: 70px;
}
.article-content p {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}
a.for-link {
  text-decoration: none;
  color: black;
}
/* articles-1 css end */


/* articles-2 css start */
p.italic {
  font-style: italic;
  font-family: emoji;
  font-weight: 600;
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* articles-2 css end */


/* videos css start */

.video-sec {
  padding-top: 50px;
  padding-bottom: 80px;
}
.video {
  text-align: center;
  margin-bottom: 100px;
}
.video video {
  padding-bottom: 30px;
}
video.vid {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.video h2 {
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 700;
  margin-bottom: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
}
/* videos css end */