@media (max-width: 1440px) {
  .sec3-img-man img {
    left: 125px;
    /* height: 380px; */
    bottom: 115px;
  }

  .section1 {
    height: 100%;
  }
  .sec3-img-back img {
    height: 580px;
  }

  .sec8-text p {
    font-size: 15px;
  }

  .sec8-text-center p {
    font-size: 18px;
  }
  .section1-bio .h_p h2 {
    font-size: 35px;
  }
  .bio-text p {
    font-size: 22px;
  }
  .book-text p {
    font-size: 16px;
  }
  .section1-bio {
    padding: 20px;
  }

  .scratch_img .bio-img figure img {
    height: 275px;
  }
  .bio-img figure h4 {
    font-size: 16px;
  }
  .first-book-noval figure img {
    width: 60%;
    height: 500px;
  }

  .back-books {
    padding: 100px 20px;
  }
}

@media (max-width: 575px){
    
    .nav-top {
    display: none;
}

.nicolas_name {
    display: inline-block;
    height: auto;
    padding: 8px 0 10px;
}

.nicolas_name h3 {
    font-size: 15px;
    margin-bottom: 0;
    display: inline-block;
}

.nicolas_name h2 {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}

ul.navbar-nav li a {
    padding: 0 !important;
}

    header {
        padding: 1rem 0 1rem;
    }

.section1 {
    padding: 0 0 3rem;
}

.now-noval h2 {
    font-size: 34px;
}

.read-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.btn.btn-custom {
    width: 100%;
    margin: 0px 0 1rem;
}

.sec4-main-img img {
    height: auto;
}

.text-h1-sec-6 h1 {
    font-size: 18px;
}

.sec6-text-flux {
    padding-bottom: 2rem;
    align-items: baseline;
}

.sec3-text h1 {
    font-size: 28px;
    line-height: normal;
    display: inline-flex;
}

h1 span {
    margin-left: 12px;
}

.sec7-text h1 {
    font-size: 42px;
    padding: 0;
}

.section7 {
    padding: 2rem 0;
}

.sec7-text h1.comming {
    font-size: 28px;
    display: inline-flex;
}

.sec7-text {
    text-align: center;
}

.endl1 ul li {
    padding-bottom: 12px;
}

.endl1 ul {
    margin-bottom: 0;
}

.sec7-text {
    padding-top: 1rem;
}

.endl2 p {
    padding: 0;
}

.endl4 {
    display: inline-block;
    padding: 1rem 0 0;
    text-align: center;
    width: 100%;
}

.last-flux {
    justify-content: center;
    width: 100%;
    display: inline;
}

.a-endl3 {
    text-align: center;
}

.endl3 {
    text-align: center;
    margin: 2rem 0 1rem;
}

.endl3-icon {
    justify-content: center;
}

.endl2 input {
    width: 100%;
}

.btn.btn-footer {
    width: 100%;
}

.endl2 {
    margin-top: 2rem;
}

.sec6-opt-img img {
    object-fit: cover;
    height: auto;
}
    
}